html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px;
  height: 64px;
  background-color: #4a90e2;
}

#header img {
  height: 24px;
}

#header a {
  text-decoration: none;
  color: #fff;
  height: 24px;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 0;
  width: 85%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.box:last-child {
  margin-bottom: 20px;
}

.post {
  margin: 5px 10px;
}

.post .post-header {
  display: flex;
  height: 50px;
}

.box .post .post-header img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.box .post .post-info {
  margin: 5px 0 0 10px;
}

.box .post .date {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #979797;
}

.content {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 30px;
  line-height: 25px;
}

.content p {
  margin: 0;
  margin-top: 15px;
}

.comment {
  display: flex;
  margin: 15px 10px;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.comment-info {
  margin-left: 10px;
  padding: 15px;
  line-height: 25px;
  width: 100%;
  border-radius: 15px;
  background-color: #eeeeee;
}

.comment-info strong {
  height: 18px;
}

@media screen and (min-width: 970px) {
  .box {
    width: 700px;
  }
}
